openapi: 3.0.0
info:
  title: Browser Proof API
  version: 1.0.0
  description: Evidence-backed web verification for agents.
servers:
  - url: https://proof.reprompt.jp
paths:
  /api/browser-proof:
    post:
      summary: Verify a claim on a webpage
      operationId: verifyClaim
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schema/browser-proof-request.schema.json'
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: './schema/browser-proof-response.schema.json'
  /api/runs:
    get:
      summary: List verification runs
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of runs
          content:
            application/json:
              schema:
                $ref: './schema/run-list-response.schema.json'
  /api/runs/{id}:
    get:
      summary: Get run details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Run details
          content:
            application/json:
              schema:
                $ref: './schema/run-detail-response.schema.json'
  /api/runs/{id}/screenshot:
    get:
      summary: Get signed URL for screenshot
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Signed URL
          content:
            application/json:
              schema:
                $ref: './schema/screenshot-response.schema.json'
